div {
    text-align: center;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #000732;
    color: #FFFFFF;
}

button {
    border-style: solid;
    border-color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    width: 10em;
    padding: 2em;
    color: #FFFFFF;
    background-color: #00CCED;
    cursor: pointer;
    margin-bottom: 2em;
    margin-left: .5em;
    display: block;
    white-space: normal;
}

button:hover {
    border-color: #00CCED;
    color: #00CCED;
    background-color: #FFFFFF;
}

.note {
    font-weight: bold;
}